body{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;

}

.background{
height:80%;
margin-top: 7%;
}

header{
display: flex;
justify-content: space-around;
padding-top: 1rem;
align-items: center;
text-align: center;
width: 100%;
top: 0;
right: 0;
z-index: 1000;
position: fixed;
transition: all .35s ease;
background-color: #f2a384;
padding: 14px 7%;

}

.logo{
    font-weight: 250;
    font-size: 1rem;

}

.cabeçalho-link{

    display: flex;
    font-size: 1rem;
    gap: 3rem;
}

.cabeçalho-link a{
color: #111;
font-weight: 700;
transition: 0.3s;


}

.cabeçalho-link a:hover{
    color: #fff;

}

.icon span{
    font-size: 2rem;
    cursor: pointer;
    color: #000000;
}

.icon span:hover{
color: #fff;

}

.wrapper{
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.Meio{
align-items: center;
display: flex;
flex-direction: column;
width: 500px;
height: 250px;
}
.Meio h1{
    font-size:  3rem;
    width: auto;
    text-align: center;
    margin-bottom: -10px;

}

.Meio a{
    background-color: #eb6c4c;
    padding: 1rem 3rem 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor:pointer;
    transition: 0.3s;
    border-radius: 15px;
}

.Meio a:hover{
   background-color: black;
   transform: scaleY(1.2);
}

.section{
padding-top: 7rem;

}
section h1{
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
.container-card-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
}
.cards img{
    width: 270px;
    height: auto;
    transition: 0.35s ease;
    align-items: center;
    border-radius: 15px;
    
}
.layout{
 width: 100%;
    height: 250px;
    overflow: hidden;

}

.layout img{
    min-width: 200px;
    
    max-height: 200px;
 
}

.cards img:hover{
    transform: scale(0.9) translateY(5px);
    cursor: pointer;
    border-radius: 15px;
}

.cta{
    background: url(img/ffffc.png);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5rem;

}

.text-cta{
 padding-left: 5rem;
}

.text-cta h6{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 6px;
    margin-bottom: 14px;
}
.text-cta h4{
font-size: 3.3rem;
line-height: 1.2;
margin-bottom: 30px;

}
.text-cta a{
    background-color: #eb6c4c;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3;

}

.text-cta a:hover{
    background-color: black;
    transform: scaleY(1.2);

}
.container-joias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    
}
.container-joias img:hover{
    transform: scale(0.9) translateY(5px);
    cursor: pointer;
    transition: 0.3s;
}
.joia{
background-color: #f2a384;
width: 200px;
height: 364px;
display: flex;
flex-direction: column;
align-items: center;

}

.joia img{
    width: 200px;
    height: auto;
}

.Tipos{
    margin-top: 10rem;
    cursor: pointer;
    align-items: center;
    text-align: center;

}

.Tipos img{
width: 300px;
height: auto;
align-items: center;
background-color: #fc9269;
border-radius: 15px;
}

.contato{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: rgb(242, 163, 132);
    padding: 8rem;
    margin-top: 5rem;
    display: flex;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3{
    color: #000000;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5{
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.meio-contato li{
    margin-bottom: 15px;
}

.meio-contato li a{
    display: block;
    color: #000000;
    font-weight: 600;
    transition: all .35s ease;
}

.last-text{
    text-align: center;
    background-color: #555;
    color: #000000;
}
